<!DOCTYPE html>
<html lang="en">
	<head>
		<title>iControl Inventory Management</title>
	<!-- Meta tags -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<!-- Jquery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<!-- bootstrap -->
	  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- Materialize -->
	  <link href="../public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<!-- Stylesheet -->
	  <link href="../public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	  <link rel="stylesheet" type="text/css" href="css/index.css">
	<!-- icons/ fonts  -->
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- fonts  -->
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
	  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<!-- Chartist -->
	  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
		<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>
