<img src="../images/icLogo.png">
<h5>You did it, {{username}}!!</h5>
<br>
<h5>You will be automatically redirected to your site!</h5>
<!--<a href="/page2" class="btn btn-primary">Go to your Site!</a>
<br>
<a href="/logout" class="btn btn-primary">Log Out</a> -->
<script>
setTimeout("location.href = '/page4';",3000);
</script>

