<img src="../public/images/icLogo.png">
<h1>You did it, {{username}}!!</h1>
<br>
<h1>You will be automatically redirected to your site!</h1>
<!--<a href="/page2" class="btn btn-primary">Go to your Site!</a>
<br>
<a href="/logout" class="btn btn-primary">Log Out</a> -->
<script>
setTimeout("location.href = '/page4';",3000);
</script>
