
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">iControl</a>
      <img src="../public/images/icLogo_sm.png">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/page4">Home</a></li>
        <li><a href="/page2">Create Table</a></li>
        <li><a href="/page3">Check Inventory</a></li>
        <li><a href="/page5">Generate Charts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      
    </div>
    <div class="col-sm-8 text-center">
      <h1>Charts</h1>
      <div class="row">

<!-- Table view showing inventory  -->
      <div class="col-sm-6 text-center">
      <a href="/chart1"><div id="placeholder2" class="ct-chart ct-golden-section reportView1"></div></a>
      <div class="text-center"><h4>Pie Chart</h4></div>

<!-- Dropdown menu to generate reports -->
    <!-- <div class="dropdown">
       
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
              Report options
              <span class="caret"></span>
            </button>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Report 1</a></li>
        <li><a href="#">Report 2</a></li>
        <li><a href="#">Report 3</a></li>
        </ul>
        
        </div> -->
        </div>
      <div class="col-sm-6 text-center">
      <a href="/chart2"><div id="placeholder2" class="ct-chart2 ct-golden-section reportView2"></div></a>
      <div class="text-center"><h4>Bar Chart</h4></div>


<!-- Dropdown menu to generate reports -->
<!-- <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Report options
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="/">Report 1</a></li>
    <li><a href="#">Report 2</a></li>
    <li><a href="#">Report 3</a></li>
  </ul>
</div> -->
      </div>

    <!-- <div class="row">
    </div>
    <div class="col-sm-2 sidenav">
      <p></p>
      </div> -->
    </div>
  </div>
</div>
              
<footer class="container-fluid text-center">
  <p>Click on the Chart you would like to see!</p>
</footer>

<script>
  // first chart
  var data = {
  labels: ['Bananas', 'Apples', 'Grapes'],
  series: [20, 15, 40]
};

var options = {
  labelInterpolationFnc: function(value) {
    return value[0]
  }
};

var responsiveOptions = [
  ['screen and (min-width: 640px)', {
    chartPadding: 30,
    labelOffset: 100,
    labelDirection: 'explode',
    labelInterpolationFnc: function(value) {
      return value;
    }
  }],
  ['screen and (min-width: 1024px)', {
    labelOffset: 80,
    chartPadding: 20
  }]
];

new Chartist.Pie('.ct-chart', data, options, responsiveOptions);

//second chart
new Chartist.Bar('.ct-chart2', {
    labels: [1, 2, 3, 4],
    series: [[5, 2, 8, 3]]
  });

</script>


