/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
.btn:hover, .btn-large:hover {
  background-color: #fff200;
}


.btn, .btn-large {
    text-decoration: none;
    color: #333;
    background-color: #fff200;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    margin-top: 10px;
}

/* Text inputs */
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  /*height: 3rem;*/
  width: 100%;
  font-size: 1rem;
  /*margin: 0 0 15px 0;*/
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

nav ul a,
nav .brand-logo1 {
  color: #999;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ffff00;
}


#download-button{
  color:#ffff00;
  background-color:#ffff00; 
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgb(255,255,0);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*------------------------------------------------------------------*/

#logoimg{
  margin-top: 5%;
}

h1 {
  /*font-family: 'Hind', sans-serif;*/
  /*font-family: 'Pridi', serif;*/
  font-family: 'Damion', cursive;
  /*font-family: 'Squada One', cursive;*/
  font-size: 50px;
}
h2 {
  /*font-family: 'Pacifico', cursive;*/
  
  /*font-family: 'Hind', sans-serif;*/
  font-family: 'Damion', cursive;
  /*font-family: 'Squada One', cursive;*/
  font-size: 30px;
}
h5 {
  font-family: 'Squada One', cursive;
  /*font-family: 'Damion', cursive;*/
  
  }
  .text-center{

  }

}
h6 {
  font-family: 'Squada One', cursive; 
  font-size: 25px;
  color:#ffffff;
}


li{
  margin-top: px;

}
.mdl-card__title{
  background-color: 255,255,0;
}

#introtext{}
  /*background-color: black;*/
  /*width:100%;
  height:10%;
  margin-top: 30px;
  margin-bottom:0px;
    background-color: black;
    border: 1px solid black;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */

/*-------------------------------------------------------------------*/
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
  
}

 /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #ffffff;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #000000;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
   /* @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }*/

    #placeholder {
    	background-color: wheat;
    	width: 800px;
    	height: 300px;

    }


    #placeholder2 {
    	background-color: wheat;
    	width: 350px;
    	height: 300px;
    	margin-left:50px;
    	padding-left:50px;

    }
    
    #placeholder2-b {
      background-color: wheat;
      width: 600px;
      height: 500px;
      margin: 0 auto;
      padding-left:50px;

    }

    button {
    	background-color:255,255,0;
    	 
    }

  .signup-panel {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 30px;
}
.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel p {
  font-size: 13px;
  font-weight: 200;
  margin-left: 25%;
}
.signup-panel .button {
  margin-left: 35%;
}
#logo-container{
  margin-top: 0px;
  font-family: 'Squada One', cursive; 
}

#login{
  
}

a:link {
    color: white;
    text-decoration: none
}

/* visited link */
a:visited {
    color: ;
    text-decoration: none
}

/* mouse over link */
a:hover {
    color: yellow;
    text-decoration: none

}

/* selected link */
a:active {
    color: yellow;
    text-decoration: none
}
li #social{
  display: inline;
}
